.app {
  display: grid;
  grid-template-rows: auto 190px auto;
}
.todo-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
@media (max-width: 420px) {
  .todo-heading {
    margin-bottom: 20px;
  }
}
.app-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 8%;
}
@media (min-width: 1024px) {
  .app-main {
    flex-direction: row;
  }
}
