* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Responsive Screen:
  =======================

/* Small devices (Mobiles) */
@media (max-width: 767px) {
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* X-Large devices (large desktops) */
@media (min-width: 1200px) {
}

/* ============================= */
